@font-face {
    font-family: "KenVector Future";
    src: url("kenvector_future.ttf");
}

.ColumnScoreboard {

    -fx-background-color: #ffcc00;
    -fx-font-size: 14pt ;
    -fx-font-family:"KenVector Future";
    -fx-table-cell-border-color: transparent;
    -fx-alignment: center;

}
.TableScoreboard .column-header-background{
    visibility: hidden;
    -fx-padding: -10em;
    -fx-focus-color: #ffcc00;
}
.TableScoreboard .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.TableScoreboard{
  -fx-background-insets: 0;
  -fx-padding: 0;
}



